<div class="row main-content">
       <div class="col-lg-12 aboutus">
         <h2>Welcome to Let's Decide!</h2>
         <p> Let's Decide is a great app that lets businesses to provide special offers for customers and for customers to find out what is around &amp; who is offering the hottest deals. Don't feel like making the decision? Let's Decide will come with ideas for you!</p></span>
         
           <p>
             <ul>
               <li>Find the Hottest Deals Available Right Now</li>
               <li>Search for food or fun with your own criteria</li>
               <li>Let Fate Decide and we'll find what you want!</li>
             </ul>
           </p>        

         <h2>Businesses</h2>
         <p>Every business thrives during prime times, but you need to drive traffic during your down times to maximize your revenue. Let's Decide gives you the power to connect directly with consumers by offering a special deals exclusive to our audience. Users check in when they're looking for a great place to eat or just want to have some fun. With Let's Decide!, they'll find you fast. <a href="/business/new" style="color: #3e879e ">Click Here</a> to register your business and get started!
         </p>
       </div>  


     </div>