<!-- Main jumbotron with an image -->
    <div class="jumbotron"></div>
        <div class="row">
          <div class="col-lg-12">
            <h3>
            Food, Friends &amp; Fun
            </h3>
          </div>
         
        </div>
    <hr>
<div class="row main-content">
      
  <div class="col-lg-12 main-home">
    <div class="row">
      <div class="col-lg-4 home-card" >
          <div class="nav-card card-grid" id="card1">
            <div class="home front" id="card-background1">
              <h4>
                HOT DEALS
              </h4>
            </div>
            <div class="home back">
             <br /><br />
              <div><a href="/deals/food"><h3>Food</h3></a> </div>
               <br />
              <div><a href="/deals/fun"><h3>Entertainment</h3></a></div>
            </div>
          </div>  
      </div>          
      <div class="col-lg-4 home-card">
          <div class="nav-card card-grid" id="card2">
            <div class="home front" id="card-background2">
              <h4>
                SEARCH
              </h4>
            </div>
            <div class="home back">
            <br /><br />
              <div><a href="/food-search"><h3>Food</h3></a> </div> <br />
              <div><a href="/entertainment-search"><h3>Entertainment</h3></a></div>
            </div>
          </div>                
      </div>
      
      <div class="col-lg-4 home-card">
          <div class="nav-card card-grid" id="card3">
            <div class="home front" id="card-background3">
              <h4>
                ROLL THE DICE
              </h4>
            </div>
            <div class="home back">
             <br /><br />
              <div><a href="/food-random"><h3>Food</h3></a> </div>
               <br />
              <div><a href="/entertainment-random"><h3>Entertainment</h3></a></div>
          </div>                
      </div>
             
        </div>
                
      </div>
      </div>    
    </div>
  </div>