<br><br>

<h3 style="text-align: center">Food, Friends &amp; Fun</h3>
    
<form class="newUser" action="/user" method = "POST" style="margin-left: 17%">
  
             <div class="form-group row has-danger">
                <label for="userName" class="col-sm-2 col-form-label">User Name</label>
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter your Name" required>
                </div>
              </div>
              <!-- email -->
              <div class="form-group row has-danger">
                <label for="email" class="col-sm-2 col-form-label">Email address</label>
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
              </div>
              <!-- password  -->
              <div class="form-group row has-danger">
                <label for="userPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-8 input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" class="form-control" id="userPassword" name="password" placeholder="Password" minlength="5" required>
                </div>
              </div>

             <!-- submit button -->
              <div class="form-group">
                 <button type="submit" class="btn btn-primary col-sm-8 col-sm-offset-2" id="buttonRegister" style="margin-left: 17%" >Submit Form</button>
              </div>
 
</form>