<br><br>
	<h1 style="text-align:center; color:black">Enter your info</h1>
	<br>
<form class="signIn" action="/bSignIN" method = "POST" style="margin-left: 15%"> 
			
	      <!-- email -->
	      <div class="form-group row has-danger">
	        <label for="email" class="col-sm-2 col-form-label">Email address</label>
	        <div class="col-sm-8 input-group">
	            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
	            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
	        </div>
	      </div>
	      <!-- password  -->
	      <div class="form-group row has-danger">
	        <label for="password" class="col-sm-2 col-form-label">Password</label>
	        <div class="col-sm-8 input-group">
	          <span class="input-group-addon"><i class="fa fa-key"></i></span>
	          <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
	        </div>
	      </div>


		  	<button type="submit" class="btn btn-primary btn-block col-sm-8 col-sm-offset-4" id="buttonRegister" style="margin-left:17%">Sign In</button>
</form>





			<!-- button  -->
			<form  action="/newUser.Handlebars" method = "GET">
				<a href="/business/new">
					<p style="text-align:center; color:blue;">If you don't have an account with us, sign up!</p text-align: "center">
				</a>	 
            	<div class="form-group">
					
             	</div>
            </form>

            <br><br><br><br>




			