<br><br>
<form class="signIn" action="/bSignIN" method = "POST"> 
			
	      <!-- email -->
	      <div class="form-group row has-danger">
	        <label for="email" class="col-sm-2 col-form-label">Email address</label>
	        <div class="col-sm-8 input-group">
	            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
	        </div>
	      </div>
	      <!-- password  -->
	      <div class="form-group row has-danger">
	        <label for="password" class="col-sm-2 col-form-label">Password</label>
	        <div class="col-sm-8 input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
	          <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
	        </div>
	      </div>


		  	<button type="submit" class="btn btn-primary btn-block col-sm-8 col-sm-offset-4" id="buttonRegister">Sign In</button>
</form>





			<!-- button  -->
			<form  action="/newBusiness.Handlebars" method = "GET">
			<h5>If you don't have an account with us, sign up!</h5> 
            	<div class="form-group">
                 	<button type="submit" class="btn btn-primary btn-block col-sm-8 col-sm-offset-4" id="buttonRegister">Sign Up</button>
             	 </div>
            </form>